/*for everything*/
*{
    font-family: 'BIZ UDPMincho', serif;
    margin: 0%;
    padding: 0%; 
}

/* HEADER CSS */
/*header on all pages*/
header{
    min-height: 15vh;
    width: 100%;
    padding-top: 0%;
    text-align: center;
}
/* title of website */
#title{
    padding-bottom: 1%;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFF0;
    padding-top: 2%;
}
/*nav bar on all pages*/
nav{
    background-color: #edaf97;
    display: block;
    /* padding: 1% 2.5%; */
    padding: 2%;
}
/**/
a.head-nav{
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
a.head-nav:hover{
    background-color: #fe938c;
}
/* HEADER CSS */


/* JQUERY DROPDOWN CSS */
/*for faq question*/
.nondrop{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 1px;
    color: black;
    padding: 6px 20px;
    cursor: pointer;
    position: relative;
    background-color: #FFFFF0;
}
/*for faq answer*/
.drop{
    text-align: center;
    padding: 5px 10px;
    background-color: #fafafa;
}
/* JQUERY DROPDOWN CSS */


/* CONTACT PAGE CSS */
/*for faq title*/
.faq.title{
    text-align: center;
    padding: 3%;
    margin-top: 3.5%;
}
.faq.qa{
    padding: 3%;
}
/*for whole contact form*/
.contactForm{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3%;
    margin: 7.5% 3%;
}
/*title for contact form*/
.contactForm.title{
    text-align: center;
}
/*all inputs for contact form*/
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 14px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
}
/**/
textarea{
    height: fit-content;
}
/*submit button for contact form*/  
input[type=submit] {
    background-color: #fe938c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*for sunmit button when hovered over*/   
input[type=submit]:hover {
    background-color: #ff6663;
}
/* CONTACT PAGE CSS */


/* HOME PAGE CSS */
.info.head{
    padding: 0.5%;
    text-align: center;
}
.info.para{
    padding: 5%;
}
.info.link{
    padding: 5%;
    text-align: center;
}
/**/
.info.image{
    width: 90%;
    padding: 5% 5% 7% 5%;
}
.reviews.head{
    text-align: center;
    padding: 5%;
    margin: 7.5% 0% 0% 0%;
}
.reviews.part{
    padding: 5%;
}
.reviews.part.three{
    margin-bottom: 10%;
}
.reviews.name{
    padding: 1%;
}
/* HOME PAGE CSS */


/* ROOMS PAGE CSS */
.roominfo{
    padding: 5%;
}
.roominfo.head{
    text-align: center;
}
.roominfo.para{
    padding: 1.5%;
}
.room.image{
    width: 90%;
    padding: 5% 5% 2.5% 5%;
}
.room.qa{
    margin: 0% 1.5% 3% 1.5%;
}
.room.button{
    margin-left: 35%;
    margin-bottom: 10%;
}
/* ROOMS PAGE CSS */


/* SIGHTS PAGE CSS */
.slideImage{
    width: 90%;
    height: 240px;
    padding: 5%;
    padding-bottom: 0%;
    display: none;
}
.button-display{
    padding: 5%;
    padding-top: 0%;
}
.button.display-right{
    margin-left: 91%;
}
.sightsinfo{
    margin-top: 3%;
    margin-bottom: 3%;
}
.sightsinfo.part{
    padding: 0% 5% 10% 5%;
}
.sightsinfo.head{
    text-align: center;
    padding-bottom: 1.5%;
}
.sight{
    margin-top: 3%;
    margin-bottom: 6%;
}
.sight.part{
    padding: 0% 5% 10% 5%;
}
.sight.title{
    text-align: center;
    padding-bottom: 1.5%;
}
.sight.part.connemara{
    margin-top: 15%;
}
.sight.part.galway{
    margin-bottom: 15%;
}
/* SIGHTS PAGE CSS */


/* FOOTER CSS */
.btext{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.btext.title{
    font-size: large;
    padding-bottom: 2%;
}
.btext.p{
    padding-top: 4%;
}
.foot{
    padding: 5%;
}
/*footer for all pages*/
footer{
    text-align: center;
    background-color: #edaf97;
    width: 100%;
    /*position: relative;*/
    height: auto;
    left: 0;
    bottom: 0;
}
/* FOOTER CSS */


/* DESKTOP CSS */
@media only screen and (min-width: 640px){
    
    /* HEADER CSS */
    nav{
        /* display: inline-block; */
        padding: 0.5%;
        /* width: 25%;
        margin-left: 35%; */
    }
    a.head-nav{
        padding: 0.5%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        font-size: 22px;
    }
    #title{
        font-size: 50px;
    }
    /* HEADER CSS */


    /* HOME PAGE CSS */
    .info{
        float: left;
        padding: 5%;
    }
    .info.image{
        width: 34%;
        margin-left: 4%;
    }
    .info.border{
        width: 30%;
        border: dotted;
        margin-top: 5%;
        margin-left: 5%;
        padding: 2.5%;
        background-color: #FFFFF0;
    }
    .info.head{
        margin-left: 33%;
        margin-bottom: 5%;
    }
    .info.link{
        margin-left: 27%;
    }
    .reviews.part{
        float: left;
        padding: 1.5%;
        width: 20%;
        border: dotted;
        margin-left: 2%;
        margin-bottom: 10%;
        background-color: #FFFFF0;
    }
    .reviews.part.one{
        margin-left: 13%;
    }

    /* HOME PAGE CSS */


    /* ROOMS PAGE CSS */
    .roominfo.border{
        border: dotted;
        width: 35%;
        margin-left: 27%;
        background-color: #FFFFF0;
    }
    .roominfo.head{
        padding-top: 0%;
    }
    .room{
        float: left;
        padding: 2%;
    }
    .room.one{
        width: 40%;
        margin-left: 2.2%;
        padding-top: 1%;
    }
    .room.image.aon{
        width: 95%;
    }
    .room.two{
        width: 40%;
        margin-left: 4%;
        padding-top: 1%;
    }
    .room.image.do{
        width: 95%;
        height: 100%;
    }
    .room.three{
        width: 40%;
    }
    .room.four{
        width: 40%;
        margin-left: 2%;
    }
    .room.qa{
        padding-left: 3.5%;
        width: 95%;
    }
    .room.qa.tri, .room.qa.ceathar{
        width: 90%;
    }
    .room.button.uno{
        margin-left: 44%;
    }
    .room.button.dos{
        margin-left: 45%;
    }
    .room.button.tres{
        margin-left: 42%;
        margin-bottom: 10%;
    }
    .room.button.quat{
        margin-left: 42%;
        margin-bottom: 10%;
    }
    .room.button{
        margin-bottom: 5%;
    }
    /* ROOMS PAGE CSS */


    /* SIGHTS PAGE CSS */
    .slideImage{
        width: 75%;
        height: auto;
        padding: 5%;
        padding-top: 3%;
        padding-left: 12%;
        padding-bottom: 1%;
        display: none;
    }
    .button.display-left{
        width: 1.8%;
        margin-left: 20%;
    }
    .button.display-right{
        width: 1.8%;
        margin-left: 50%;
    }
    .sightsinfo.part{
        padding: 0%;
        float: left;
        background-color: #FFFFF0;
    }
    .sightsinfo.part.one{
        border: dotted;
        width: 30%;
        padding: 0% 2% 2% 3%;
        margin-left: 10.5%;
    }
    .sightsinfo.part.two{
        border: dotted;
        width: 30%;
        padding: 0% 2% 2% 3%;
        margin-left: 8%;
    }
    .sight{
        padding-bottom: 0%;
    }
    .sight.part{
        margin-top: 2%;
        padding: 1.5%;
        width: 20%;
        float: left;
        margin-left: 2%;
        border: 1px solid black;
        background-color: #FFFFF0;
    }
    .sight.image{
        width: 95%;
    }
    .sight.image.galway{
        float: left;
    }
    .sight.part.connemara{
        margin-top: 2%;
        margin-left: 13%;
    }
    .sight.part.galway{
        margin-top: 0.5%;
        clear: both;
        margin-left: 38%;
    }
    /* SIGHTS PAGE CSS */


    /* CONTACT PAGE CSS */
    .faq.qa{
        width: 60%;
        margin-left: 16.5%;
    }
    .contactForm{
        width: 60%;
        margin-left: 19.5%;
    }
    .faq.qa{
        padding-top: 0%;
    }
    /* CONTACT PAGE CSS */


    /* FOOTER CSS */
    footer{
        clear: left;
        text-align: center;
        background-color: #edaf97;
        /*position: sticky;*/
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .foot{
        padding: 2%;
    }
    .btext.title{
        padding-bottom: 0.7%;
    }
    .btext.p{
        padding-top: 1.5%;
    }
    /* FOOTER CSS */
}
/* DESKTOP CSS */